flows.json
[
    {
        "id": "b4d0eb395a2303e4",
        "type": "tab",
        "label": "EcoCharge - EV Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "distance_sensor",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Distance Sensor",
        "topic": "ev/charger/distanceToVehicle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "distance_gauge"
            ]
        ]
    },
    {
        "id": "distance_gauge",
        "type": "ui_gauge",
        "z": "b4d0eb395a2303e4",
        "name": "Distância do Veículo",
        "group": "d9894dea32d11065",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância do Veículo (cm)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#d01616",
            "#39b54a",
            "#39b54a"
        ],
        "seg1": "30",
        "seg2": "400",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "sensor_status",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Sensor Status",
        "topic": "ev/charger/status",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "27514547cd299039"
            ]
        ]
    },
    {
        "id": "current_sensor",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Corrente de Carregamento",
        "topic": "ev/charger/chargingCurrent",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "current_text"
            ]
        ]
    },
    {
        "id": "current_text",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "a09422fd5fddeb31",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Corrente (A)",
        "label": "Corrente",
        "format": "{{msg.payload}}A",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "power_sensor",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Potência de Carregamento",
        "topic": "ev/charger/chargingPower",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 530,
        "y": 556,
        "wires": [
            [
                "power_text"
            ]
        ]
    },
    {
        "id": "power_text",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "a09422fd5fddeb31",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Potência (kW)",
        "label": "Potência",
        "format": "{{msg.payload}}kW",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1080,
        "y": 556,
        "wires": []
    },
    {
        "id": "battery_percent",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Porcentagem da Bateria",
        "topic": "ev/charger/batteryPercent",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 530,
        "y": 616,
        "wires": [
            [
                "battery_gauge"
            ]
        ]
    },
    {
        "id": "battery_gauge",
        "type": "ui_gauge",
        "z": "b4d0eb395a2303e4",
        "name": "Nível de Bateria (%)",
        "group": "cec59fd685eb8c68",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nível de Bateria",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 616,
        "wires": []
    },
    {
        "id": "charging_state",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Estado de Carregamento",
        "topic": "ev/charger/chargingState",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 530,
        "y": 680,
        "wires": [
            [
                "charging_state_text"
            ]
        ]
    },
    {
        "id": "charging_state_text",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "cec59fd685eb8c68",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Estado de Carregamento",
        "label": "Estado de Carregamento",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1050,
        "y": 680,
        "wires": []
    },
    {
        "id": "estimated_time_remaining",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Tempo Restante",
        "topic": "ev/charger/estimatedTimeRemaining",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 736,
        "wires": [
            [
                "0fb4202c733bfa04"
            ]
        ]
    },
    {
        "id": "time_text",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "cec59fd685eb8c68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tempo Restante",
        "label": "Tempo Restante",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1080,
        "y": 736,
        "wires": []
    },
    {
        "id": "estimated_range",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Autonomia Estimada",
        "topic": "ev/charger/estimatedRange",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 510,
        "y": 796,
        "wires": [
            [
                "range_text"
            ]
        ]
    },
    {
        "id": "range_text",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "cec59fd685eb8c68",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Autonomia Estimada (km)",
        "label": "Autonomia Estimada (km)",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1050,
        "y": 796,
        "wires": []
    },
    {
        "id": "27514547cd299039",
        "type": "function",
        "z": "b4d0eb395a2303e4",
        "name": "Define Cor do Status",
        "func": "if (msg.payload === \"Ocupado\") {\n    msg.color = \"#FF0000\";\n} else if (msg.payload === \"Vazio\") {\n    msg.color = \"#00FF00\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "3e2a200711156726"
            ]
        ]
    },
    {
        "id": "3e2a200711156726",
        "type": "ui_template",
        "z": "b4d0eb395a2303e4",
        "group": "d9894dea32d11065",
        "name": "Status do Sensor",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; justify-content: space-between; align-items: center; font-size: 24px; margin: 0 20px;\">\n  <span><b>Status do Sensor:</b></span>\n  <span style=\"color: {{msg.color || '#666666'}};\">\n        {{msg.payload || \"Aguardando dados...\"}}\n    </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0fb4202c733bfa04",
        "type": "function",
        "z": "b4d0eb395a2303e4",
        "name": "Formata Tempo",
        "func": "function formatTime(totalSeconds) {\n    if (msg.payload === -1) {\n        return (\"Carregamento Pausado\")\n    }\n    let days = Math.floor(totalSeconds / 86400);\n    let hours = Math.floor((totalSeconds % 86400) / 3600);\n    let minutes = Math.floor((totalSeconds % 3600) / 60);\n    let seconds = totalSeconds % 60;\n\n    let result = \"\";\n\n    if (days > 0) {\n        result += days + \"d \";\n    }\n    if (hours > 0 || days > 0) {\n        result += hours + \"h \";\n    }\n    if (minutes > 0 || hours > 0 || days > 0) {\n        result += minutes + \"m \";\n    }\n    result += seconds + \"s\";\n\n    return result;\n}\n\nmsg.payload = formatTime(msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 736,
        "wires": [
            [
                "time_text"
            ]
        ]
    },
    {
        "id": "d52b0e0c1ea4946d",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Voltagem de Carregamento",
        "topic": "ev/charger/supplyVoltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "878b1eecc31771eb"
            ]
        ]
    },
    {
        "id": "878b1eecc31771eb",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "a09422fd5fddeb31",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Voltagem (V)",
        "label": "Voltagem",
        "format": "{{msg.payload}}V",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1090,
        "y": 440,
        "wires": []
    },
    {
        "id": "ea09b80c54112693",
        "type": "mqtt in",
        "z": "b4d0eb395a2303e4",
        "name": "Sistema de Carregamento",
        "topic": "ev/charger/phaseSystem",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "9c42769b6607ba6f"
            ]
        ]
    },
    {
        "id": "9f258ce573a1296b",
        "type": "ui_text",
        "z": "b4d0eb395a2303e4",
        "group": "a09422fd5fddeb31",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Fase do Sistema",
        "label": "Fase do Sistema",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1070,
        "y": 380,
        "wires": []
    },
    {
        "id": "9c42769b6607ba6f",
        "type": "function",
        "z": "b4d0eb395a2303e4",
        "name": "Converte em Texto",
        "func": "msg.payload = msg.payload === 1 ? \"Monofásico\" : \"Bifásico\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "9f258ce573a1296b"
            ]
        ]
    },
    {
        "id": "9a883371ece8013c",
        "type": "ui_template",
        "z": "b4d0eb395a2303e4",
        "group": "",
        "name": "Dashboard Style",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    ui-card-panel {\n        border-radius: 5px;\n    }\n\n    ui-card-panel * {\n        border-radius: 2.5px;\n    }\n\n    .nr-dashboard-cardtitle {\n        font-weight: bold !important;\n        font-size: 24px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 770,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeREDClient",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d9894dea32d11065",
        "type": "ui_group",
        "name": "Sensor de Distância",
        "tab": "1ad5680cff09845b",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a09422fd5fddeb31",
        "type": "ui_group",
        "name": "Informações Elétricas",
        "tab": "1ad5680cff09845b",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cec59fd685eb8c68",
        "type": "ui_group",
        "name": "Status de Carregamento",
        "tab": "1ad5680cff09845b",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ad5680cff09845b",
        "type": "ui_tab",
        "name": "ECOCHARGE",
        "icon": "fa-bolt",
        "disabled": false,
        "hidden": false
    }
]